<!DOCTYPE html>
<html>
<head>
  <title>404 - Page not found</title>
  <%- include('../../partials/head.ejs'); %>
</head>
<body>
  <%- include('../../partials/header.ejs'); %>
  <main class="container-fluid centered">
    <h1>404 - Page not found</h1>
    <p class="text-center">The url '<%= url %>' could not be found.</p>
  </main>
  <%- include('../../partials/footer.ejs'); %>
  <script src="/js/login.js"></script>
</body>
</html>