<!DOCTYPE html>
<html>
<head>
  <title>Golden Glint - Item Customization</title>
  <%- include('../partials/head.ejs'); %>
</head>
<body>
  <%- include('../partials/header.ejs'); %>
  <main class="container-fluid">

  </main>
  <%- include('../partials/footer.ejs'); %>
</body>
</html>