<!DOCTYPE html>
<html>
<head>
  <title>Golden Glint - Home</title>
  <%- include('../partials/head.ejs'); %>
</head>
<body>
  <%- include('../partials/header.ejs'); %>
  <main class="container-fluid">
    <p>This is <strong>NOT</strong> the official website for The Golden Glint. Please visit
      <a href="https://www.thegoldenglint.com/">the official website</a> to actually place
      an order.</p>
  </main>
  <%- include('../partials/footer.ejs'); %>
</body>
</html>